<%= generic_submenu_tag %>
<div id="right">
  <h3 class="tac">会议介绍</h3>
  <div class="intro">
    <p align="left">
      <strong>一、会议概况</strong>
    </p>
    <p align="left">
　　第十一届国际汉语教学研讨会定于2010年8月16日-17日在中国西安举行。
    </p>
    <p align="left">
　　研讨会主题：创新与发展&mdash;&mdash;国际汉语教师培养的新理念。会议主题：
    </p>
    <p align="left">
　　主要议题：
    </p>
    <p align="left">
　　1、国际汉语教师教育学科建设
    </p>
    <p align="left">
　　2、国际汉语教师标准及评估
    </p>
    <p align="left">
　　3、国际汉语教师的课程建设及教材建设
    </p>
    <p align="left">
　　4、国际汉语教师的知识结构、素质和能力
    </p>
    <p align="left">
　　5、国际汉语教师的培养培训模式及职业发展
    </p>
    <p align="left">
　　6、国际汉语教师海外从教资格及就业问题
    </p>
    <p align="left">
　　7、国际汉语教师培养案例分析
    </p>
    <p align="left">
　　会议形式包括大会主题演讲、专题研讨、大会专题论坛、会议同期还将举办国际汉语教学资源展览和新产品推介活动。届时还将在闭幕大会上组织&ldquo;第三届创新论文优秀奖&rdquo;评选和颁奖活动。
    </p>
    <p align="left">
      <strong>二、简要日程</strong>
    </p>
    <p align="left">
　　8月15日 全天报到
    </p>
    <p align="left">
　　8月16日 开幕式、大会主题演讲、分专题研讨
    </p>
    <p align="left">
　　8月17日 分专题研讨、大会专题论坛、闭幕式
    </p>
    <p align="left">
　　8月18日 离会
    </p>
    <p align="left">
      <strong>三、重要时间点</strong>
    </p>
    <p align="left">
      &nbsp;
    </p>
    <table border="1" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
      <tbody>
        <tr>
          <td style="width:198px;">
          <p align="center">
            <strong>时间</strong>
          </p></td>
          <td style="width:324px;">
          <p align="center">
            <strong>内容</strong>
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            3月18日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            发布会议一号通知
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            4月18日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            开通会议网站；接受报名
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            5月18日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            报名截止
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            5月28日
          </p></td>
          <td style="width:324px;">
          <p>
            发布会议正式通知；公布入选名单；
          </p>
          <p>
            开通网上注册；提交论文全文
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            7月18日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            论文全文提交截止
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            8月18日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            大会报到
          </p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="cb"></div>
