<%= participant_submenu_tag %>
<div id="right">
  <p>欢迎您，<%= session[:participant_chinese_name] %></p>
  <% if session[:participant_attend_as] == Participant::AttendAsThesisAuthor %>
    <% if @participant.thesis.summary_approved? %>
      <p>祝贺您！</p>
      <p>您报名参会的论文摘要已经通过专家评审!</p>
      <p>请您依照<a href="/articles/7" target="_blank" class="cred">论文体例要求</a>，准备会议论文。</p>
    <% else %>
      <p>感谢您对第十一届国际汉语教学研讨会的关注和大力支持！</p>
      <p>很遗憾，您报名参会的论文摘要没有通过专家评审。</p>
      <p>欢迎您继续关注本届研讨会！</p>
    <% end %>
  <% elsif session[:participant_attend_as] == Participant::AttendAsNonvoting %>
    <% if @participant.approved? %>
      <p>祝贺您！</p>
      <p>您的旁听参会申请已经通过审核!</p>
    <% else %>
      <p>很遗憾，您未通过旁听代表审核！</p>
    <% end %>
  <% end %>
</div>
<div class="cb"></div>
