<html>
  <head>
    <title>第十一届国际汉语教学研讨会邀请函</title>
    <%= stylesheet_link_tag "meta", "invitation", :media => "all" %>
  </head>
  <body>
    <h1>第十一届国际汉语教学研讨会二号通知</h1>
    <p>尊敬的<%= @participant.chinese_name %>老师：</p>
    <p>　　由世界汉语教学学会和国家汉办共同举办的第十一届国际汉语教学研讨会将于2012年8月16日至17日（15日报到）在中国西安召开。会议主题是：创新与发展——国际汉语教师培养的新理念。会议将围绕国际汉语教师教育学科建设、国际汉语教师标准及评估、国际汉语教师的课程建设及教材建设、国际汉语教师的知识结构、素质和能力、国际汉语教师的培养培训模式及职业发展、国际汉语教师海外从教资格及就业问题、国际汉语教师培养案例分析等专题组织研讨。</p>
    <p>　　截至5月28日，会议收到论文摘要近600篇，经由世界汉语教学学会理事会组成的专家评审组匿名评审和综合评审，并经常务理事会审定，400余篇论文摘要通过评审。</p>
    <p>　　您提交的论文摘要《<%= @participant.thesis.subject %>》通过评审，请在6月8日至7月18日期间，提交论文全文，请做好会议研讨准备。</p>
    <p>　　会议将收取会议费1000元人民币（凡2012年已缴纳会费的世界汉语教学学会会员享受50%的优惠）。与会代表往返旅费及食宿费自理。</p>
    <br />
    <p>　　世界汉语教学学会真诚地欢迎各位与会代表！</p>
    <br />
    <div id="stamp">
      <%= image_tag 'stamp.png' %>
    </div>
  </body>
</html>
