<%= expert_submenu_tag %>
<div id="right">
  <h3>评审标准</h3>
  <table class="rating-standard">
    <tr><th>原则</th><th>评审要求细则</th></tr>
    <tr>
      <td>指导性与实用性（40%）</td>
      <td>
        <ol>
          <li>论文选题立意有前瞻性和理论或现实意义</li>
          <li>论文选题符合本次研讨会的议题，具有一定的代表性</li>
          <li>具有一定的实用性和推广价值，对国际汉语教育问题有一定的指导作用</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>科学性与规范性（30%）</td>
      <td>
        <ol>
          <li>论文科学严谨，能够科学运用理论或事实论据，具有可信度或可行性</li>
          <li>遵守学术规范，如题目与正文相符、摘要简明扼要、观点和材料一致，结论明确</li>
          <li>结构清晰，语言准确流畅</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>创新性与真实性（30%）</td>
      <td>
        <ol>
          <li>论文具有创新性，选题新颖、见解或思路独特、研究方法或材料数据有特色</li>
          <li>必须是作者本人的实践与研究成果</li>
          <li>观点、理论和材料数据真实可信</li>
        </ol>
      </td>
    </tr>
  </table>
</div>
<div class="cb"></div>
